<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Anjril.PokemonWorld.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Anjril.Common.Network.TcpImpl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <Anjril.PokemonWorld.Server.Properties.Settings>
      <setting name="MapLocation" serializeAs="String">
        <value>World\map.json</value>
      </setting>
    </Anjril.PokemonWorld.Server.Properties.Settings>
    <Anjril.Common.Network.TcpImpl.Properties.Settings>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ListeningTick" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Encoding" serializeAs="String">
        <value>UTF-8</value>
      </setting>
      <setting name="MessageBound" serializeAs="String">
        <value>&lt;sep&gt;</value>
      </setting>
      <setting name="MessageInnerSeparator" serializeAs="String">
        <value>|</value>
      </setting>
      <setting name="ClientPort" serializeAs="String">
        <value>1338</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>1337</value>
      </setting>
    </Anjril.Common.Network.TcpImpl.Properties.Settings>
  </userSettings>
</configuration>