<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anjril.Common.Network" version="1.0.0-rc2" targetFramework="net46" />
  <package id="Anjril.Common.Network.TcpImpl" version="1.0.0-rc5" targetFramework="net46" />
  <package id="Anjril.PokemonWorld.Generator" version="0.0.4.0" targetFramework="net46" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
</packages>